doctype html
html
  head
    title Jevin Memes
    link(rel='stylesheet', href='/jevin_game1.css', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='/jevin_game.js')
  script.
    var posx = (Math.random() * ($(document).width() - divsize)).toFixed();
    var posy = (Math.random() * ($(document).height() - divsize)).toFixed();
    $(".head").css({
    'left':posx+'px',
    'top':posy+'px',
    })
    jQuery(function($) {
    volume = 0.3;
    $("#bgAudio").prop("volume", volume);

          window.setVolume = function(bgAudio, vol) {
              sounds[bgAudio].volume = vol;
          }
        
          var posx = (Math.random() * ($(document).width() - 100)).toFixed();
          var posy = (Math.random() * ($(document).height() - 100)).toFixed();
          
          $(".head").css({
              'left':posx+'px',
              'top':posy+'px',
          })

          $(".head2").css({
              'left':posx+'px',
              'top':posy+'px',
          })
      });

      function PlaySound(soundobj) {
          var thissound=document.getElementById(soundobj);
          thissound.play();
      }


      function StopSound(soundobj) {
          var thissound=document.getElementById(soundobj);
          thissound.pause();
          thissound.currentTime = 0;
      }



  body.body
    audio#bgAudio(autoplay='', loop='loop')
      source(src='/jevin2.mp3')
    #head.head(onmouseover="PlaySound('mySound')", onmouseout="StopSound('mySound')", onclick="document.getElementById('head').className = 'head2'; document.getElementById('meme').className = 'visible'")
      img(src='/jevin_head.png')
    audio#mySound(loop='loop', src='/jevin_head.mp3')
    form(action='/earnedMeme/' + type, method='post' id="meme" class = "onteuhe")
      button.btn.cyan.btn-warning.btn-lg(type='submit') YAY ME